<html lang="en">

<head>
	<title>Register Page</title>
</head>
<body>
	<form action="#" th:action="@{/saveBookMeeting}" th:object="${Ent}" method="post" >
		NAME : <input type="text" th:field="*{name}">		
		Meeting With : <input type="text" th:field="*{meetingWith}">
		Date : <input type="datetime-local" th:field="*{meetingDate}">
		EndDate : <input type="datetime-local" th:field="*{meetingEndDate}">
		<!--Time : <input type="time" th:field="*{meetingTime}">	-->
		
		<button type="submit">SAVE</button>
	</form>
	
</body>

</html>