<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1" />
	<title>Registeration</title>
</head>

<body>
	<h4>Registeration Status</h4>

	<html xmlns:th="https://thymeleaf.org">
	
	 <span th:if="${Status == 'Meeting Booked'}">

	<table>
		<tr>
			<td>
				<h4>Name: </h4>
			</td>
			<td>
				<h4 th:text="${Ent.name}"></h4>
			</td>
		</tr>
		
		<tr>
			<td>
				<h4>Meeting</h4>
			</td>
			<td>
				<h4 th:text="${Ent.meetingDate}"></h4>
			</td>
		</tr>
		
		<!--<tr>
			<td>
				<h4>Meeting Time</h4>
			</td>
			<td>
				<h4 th:text="${Ent.meetingTime}"></h4>
			</td>
		</tr>-->
	</table>

	</span>
    <span th:unless="${Status == 'Created Successfully'}">
		<h4 th:text="${Status}"></h4>
	</span>
	
	</html>

</body>

</html>